<mat-card>
    <mat-card-title class="title">Adicionar Tarefas</mat-card-title>
    <form class="form" [formGroup]="form">
        <mat-form-field>
            <input matInput class="task-field" type="text" placeholder="Titulo" maxlength="25"
            id="_title" formControlName="_title">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput class="task-field" type="text" placeholder="Descrição" maxlength="45"
            id="_description" formControlName="_description"></textarea>
        </mat-form-field>
    </form>
    <span>
        <button mat-button (click)="createTask()" color="accent">
            <i class="material-icons">
                add_task
            </i>
        </button>
        <button mat-button (click)="cancel()" color="warn">
            <i class="material-icons">
                highlight_off
            </i>
        </button>
        <button mat-button (click)="saveTask()" color="basic">
            <i class="material-icons">
                backup
            </i>
        </button>
    </span>
</mat-card>