.content {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.content-card {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 53.5%;
    grid-template-areas: "content-task-card content-task-card content-task-card";
    justify-content: center;
}

.content-task-card {
    height: 9rem;
    width: 90%;
    margin: 5px 5px 5px 5px;
    overflow: auto;
}

span {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 10px;
    margin-left: 86%;
}

@media(max-width: 768px) {
    .content {
        overflow: auto;
        height: 100%;
        width: 100%;
        background-color: gray;
        display: flex;
    }
    .content-card {
        background-color: gray;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 63%;
        grid-template-areas: "content-task-card content-task-card";
    }
    .content-task-card {
        height: 10rem;
        width: 98%;
        overflow: auto;
    }
}

@media(max-width: 576px) {
    .content {
        overflow: auto;
        height: 20.5rem;
        width: 100%;
        background-color: gray;
        display: flex;
    }
    .content-card {
        height: 50%;
        width: 100%;
        background-color: gray;
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: 105%;
        grid-template-areas: "content-task-card";
    }
    .content-task-card {
        height: 9rem;
        width: 98%;
        margin: 5px 5px 5px 5px;
        overflow: auto;
    }
}